:root {
    --color: #213547;
    --background-color: #fff;
    --border-color: #dcdcdc;
    --border-left-color: #cbdde7;
    --blockquote-bg-1: #faf8eb;
    --blockquote-bg-2: #fff9e4;
    --blockquote-color: #231e28;
    --copy-bg: rgb(0 0 0 / 85%);
    --copy-shadow-color: rgb(8 0 47 / 7%);

    background-color: var(--background-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: var(--color);
    font-weight: 400;
    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-size-adjust: 100%;
}

body {
    min-width: 320px;
    min-height: 100vh;
    margin: 0;
    background-color: var(--background-color);

    &.dark {
        --color: #f8f4f1;
        --background-color: #242424;
        --border-color: #232323;
        --border-left-color: #f7bfa0;
        --blockquote-bg-1: #050714;
        --blockquote-bg-2: #00061b;
        --blockquote-color: #dce1d7;
        --copy-bg: rgb(255 255 255 / 85%);
        --copy-shadow-color: rgb(247 255 208 / 7%);
    }
}

#app {
    margin: 0;
}