:root {
    /** Светлая тема **/

    /* Фоны */
    --background-color-default: #fff;
    --background-color-secondary: #dcdcdc;
    --background-color-secondary-hover: #c7c7c7;
    --background-color-secondary-active: #b4b4b4;
    --background-color-accent: #faf8eb;
    --background-color-quiet: #fff9e4;
    --background-color-muted: rgb(0 0 0 / 85%);
    --background-color-shadow: rgb(34 60 80 / 20%);
    --background-color-shadow-copy: rgb(8 0 47 / 7%);

    /* Текстовые цвета */
    --color-text-default: #213547;
    --color-text-blockquote: #231e28;

    /* Границы */
    --color-border-default: #dcdcdc;
    --color-border-special: #cbdde7;

    /* Иконки */
    --color-icon-default: #7fabc4;

    background-color: var(--background-color-default);
    color: var(--color-text-default);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-size-adjust: 100%;
}

body {
    min-width: 320px;
    min-height: 100vh;
    margin: 0;
    background-color: var(--background-color-default);
    color: var(--color-text-default);

    /** Тёмная тема **/
    &.dark {
        /* Фоны */
        --background-color-default: #242424;
        --background-color-secondary: #646363;
        --background-color-secondary-hover: #838282;
        --background-color-secondary-active: #a0a0a0;
        --background-color-accent: #050714;
        --background-color-quiet: #00061b;
        --background-color-muted: rgb(255 255 255 / 85%);
        --background-color-shadow: rgb(240 245 248 / 20%);
        --background-color-shadow-copy: rgb(247 255 208 / 7%);

        /* Текстовые цвета */
        --color-text-default: #f8f4f1;
        --color-text-blockquote: #dce1d7;

        /* Границы */
        --color-border-default: #232323;
        --color-border-special: #f7bfa0;

        /* Иконки */
        --color-icon-default: #f7bfa0;
    }
}

* {
    box-sizing: border-box;
}

#app {
    margin: 0;
}